*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family:"main";
    src:url('../fonts/iranyekanwebregular.eot'),/*IE9*/
    url('../fonts/iranyekanwebregular.woff') format('woff'),
    url('../fonts/iranyekanwebregular.ttf') format('truetype');
}
body{
    direction: rtl;
    font-family: iransans;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    
}